@model BlogAdminPanel.ViewModels.ChangePasswordViewModel

<h2>Reset Password</h2>
@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post))
{
    @Html.HiddenFor(m => m.Email)

    <div class="form-group">
        @Html.LabelFor(m => m.NewPassword, new { @class = "control-label" })
        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", placeholder = "Enter new password" })
        @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm new password" })
        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
    </div>
    <button type="submit" class="btn btn-primary">Reset Password</button>
}

@if (ViewData.ModelState.ErrorCount > 0)
{
    <div class="alert alert-danger mt-3">
        @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
        {
            <p>@error.ErrorMessage</p>
        }
    </div>
}
